<router-outlet></router-outlet>
<app-test (childData)="msg=$event" [fromParent]="parentdata"></app-test>
<div>
    <button pButton type="button"  (click)="Parent()">parent</button>


</div>
<h1>{{msg}}</h1>

