<div class="container">
    <div class="grid">
        <div class="col-12">
            <button pButton type="button"  (click)="childEvent()">Child</button>

            
        </div>
        <h1>{{fromParent}}</h1>


    </div>


</div>